<ion-content [fullscreen]="true" class="container">
  <ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides [options]="slideOpts">
      <ion-slide *ngFor="let trendingMovie of trendingMovies">
        <ion-card class="trendingCard">
          <img src="{{photoUrl}}w500{{trendingMovie.poster_path}}" />
          <ion-card-header>	
            <ion-card-title>{{ trendingMovie.title }}  </ion-card-title>
            <ion-card-subtitle>({{trendingMovie.release_date | date:'shortDate':'':'fr-FR'}})</ion-card-subtitle>
            <ion-icon color="yellow" name="star"></ion-icon> {{trendingMovie.vote_average}}
          </ion-card-header>
          <ion-card-content>
            {{trendingMovie.overview}}
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ion-content>

</ion-content>
