<ion-content scroll-y="true">
<div class="homescreen-content">
  <div>
    <ion-content class="randomTrendingMovie" *ngIf="randomTrendingMovie" scroll-y="false" >
      <img class="backdrop" src="{{photoUrl}}w500{{randomTrendingMovie.backdrop_path}}" style="filter: grayscale(90%);" />

      <ion-grid class="detail">
        <ion-row >
          <ion-col size="4">
            <img class="poster" src="{{photoUrl}}w185{{randomTrendingMovie.poster_path}}" />
          </ion-col>
          <ion-col size="8" >
            <div class="title">{{ randomTrendingMovie.title }} </div>
            <!-- <div class="releaseDate">({{randomTrendingMovie.release_date | date:'shortDate':'':'fr-FR'}})</div> -->
            <ion-icon  class="star"  name="star"></ion-icon> {{randomTrendingMovie.vote_average}}
            <div class="resume">{{randomTrendingMovie.overview | truncate:[25]}}</div>
            <ion-button class="detailBtn" size="small" color="secondary" (click)="onGoToDetail(randomTrendingMovie.id)">Voir Détail</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
  <div>
    <ion-content class="ion-padding" color="primary" scroll-y="false"> 
      <ion-slides [options]="slideOpts">
        <ion-slide class="trendingSlide" *ngFor="let trendingMovie of trendingMovies">
          <ion-card class="trendingCard" (click)="onGoToDetail(trendingMovie.id)">
            <ion-card-header>
              <img src="{{photoUrl}}w500{{trendingMovie.poster_path}}" />
              <ion-card-title>{{ trendingMovie.title }} </ion-card-title>
              <ion-card-subtitle>({{trendingMovie.release_date | date:'shortDate':'':'fr-FR'}})</ion-card-subtitle>
              <ion-icon  name="star"></ion-icon> {{trendingMovie.vote_average}}
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-content>
  </div>
</div>
</ion-content>