<ion-content [fullscreen]="true" class="container">
  <ion-text>
    <h1 class="title">The Movies Search App</h1>
  </ion-text>

  <form class="form">
    <ion-grid [fixed]="true">
      <ion-row ion-align-self-end>
        <ion-col size="10">
          <ion-item>
            <ion-label position="floating" >Movie Name</ion-label>
            <ion-input padding-left  [(ngModel)]="movieName" name="movieName" autofocus="true" clear-input="true" ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="2" class="ion-align-self-end">
          <button type="submit" class="btn btn-primary" (click)="openDetailsWithName()">Go</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>
