.homescreen-content {
  display: flex;
  /* displays flex-items (children) inline */
  flex-direction: column;
  /* stacks them vertically */
  height: 100vh;
  /* 100% of the viewport height */
  box-sizing: inherit;
}

.homescreen-content>div {
  box-sizing: inherit;
  display: flex;
  justify-content: center;
  /* horizontally centered */
  align-items: center;
  /* vertically centered */
  flex: 1;
  /* each stretches and takes equal height of the parent (50vh) */
}

.trendingCard {
  margin-left: 0px;
  margin-right: 5px;
  margin-bottom: 0px;
  height: 325px;
}

.trendingCard ion-card-title {
  font-size: 15px;
  margin-top: 2px;
}

.trendingCard ion-card-header {
  padding: 0px;
  padding-inline: 0px;
}

.trendingCard img {
  height: 50%;
}

.randomTrendingMovie {
  position: relative;
}

.randomTrendingMovie .backdrop {
  position: absolute;
  height: 100%;
}

.randomTrendingMovie .detail {
  margin-top: 100px;
  position: relative;
  z-index: 9;
  color: white;
}

.randomTrendingMovie .detail .title{
  font-weight: bold;
  font-size: 15px;
}

.randomTrendingMovie .detail .poster {
  height: 178px;
  margin-left: 4px;
}
.randomTrendingMovie .detail .resume {
  font-size: 13px;
}
.detailBtn{
  font-weight: bold;
}

.star {
  color: yellow;
}
